<!-- This is the front end of the website 3/3 What the user sees and interacts with-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJ1SAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eRestaurant</title>
</head>


<body>
  <div class="HSpace"></div> 
  <div class="row">
      <div class="column1" style="background-color:#FFB695;">
          <!-- <h2>Column 1</h2> -->
          <div class="row">
            <div class="column">
              <ul class="menu">
                <% for (var i = 0; i < items.length; i++) {%>
                  <%if(items[i].category == category || category == "all" || category == "default") { %>  
                  <li class="menu-item">                       
                    <section>
                      <form action="/add-order-lunch" method="POST">
                        <h1><%=items[i].name %></h1>
                        <span class="spacer"></span>
                        <p><%=items[i].description %></p>
                        <span><%=items[i].price %></span>
                      <% if (booking && !booking.isConfirmed) { %>
                      <div class="quan_addBtn">
                        <div class= "addToOrderBtn">
                          <button class="btn btn-info" type="submit" >Add To Order</button>
                        </div>
                        <div class="quantity">
                          <input type="number" name="quantity" class="form-control input-number" min="1" max="10">
                        </div>
                      </div>
                      <%}%>
                      </section> 
                  </li>
                <input type ="hidden" name="name" value="<%=items[i].name %>">
                <input type ="hidden" name="price" value="<%=items[i].price %>">
                </form>
                 <%}}%>
              <ul>
            </div>
            </div>
      </div>
      <div class="column2" style="background-color:#96D1CD;">
          <!-- <h2>Column 2</h2> -->
          <div class= "login-box1">
            <% if (!booking || booking.isConfirmed) { %>
              <p style="color:red">Make a table reservation to order items. Oh, you already have a reservation? if you already confirmed an order you have to restart it from the checkout page to order again :)</p>
            <%}%>
          </div>
          <div class="box">
          <div class= "login-box2">
          <div class="order_status">
            <p>Current Order:</p>
            <% if (orders) { for (i = 0; i < orders.length; i++) {%>
            <p><%=orders[i].name%> <%=orders[i].menu%> <%=orders[i].price%>  x<%=orders[i].quantity%></p>
            <%}}%>
          </div>
          </div>
        </div>
      </div>
  </div>
</body>

<style>
.quan_addBtn {
  display: flex;
  padding-top: 10px;
}
.quantity {
  float: right;
  size: small;
  display: inline;
  padding-left: 10px;

}

.addToOrderBtn {
  float: left;
}

.HSpace {
    background-image: url("images/lunchmenubg.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    background-size: cover;
    background-color: #C4A484;
    background-position: absolute;
    background-repeat: no-repeat;
  } 

    /* Set additional styling options for the columns*/
    .column1 {
    float: left;
    width: 60%;
    }

    .column2 {
    float: left;
    width: 40%;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    .login-box1 {
    float: right;
    position: absolute;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:rgba(255,255,255, 0.6);
    color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    }

    .login-box2 {
    float: right;
    position: absolute;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:rgba(255,255,255, 0.6);
    color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
    }

    .box {
  display: grid;
  width: 540px;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}

.box :first-child {
    align-self: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
</style>