<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <!-- <div class="rectangle"> </div> -->
  <!-- <div class= login-box"></div> -->
  <div class="login-box">
        <div class = "image">
            <img src="images/Le Bistrot d'Andre.png" style="vertical-align:middle;margin:0px 30px" alt="logo" width = "115" height = "115"/>
        </div>

          <h1 style="color: black;">Total Checkout</h1>
        
        <h2 style="color: black;">Booking:</h2>
          <address style="color: black;">
            <% if (booking) { %>
              <%=user.fname%> <%=user.lname%><br />
              <%=booking.date.toString().split(" ")[0]%> <%=booking.date.toString().split(" ")[1]%> <%=booking.date.toString().split(" ")[2]%>, <%=booking.date.toString().split(" ")[3]%> at <%=booking.time%><br />
              Seating <%=booking.numGuests%> guests at Table <%=booking.table%>
              <%} else { %>
              <p>No current booking</p> 
              <%} %>
          </address> 

        <% if(req.session.booking) {%>
          <h2 style="color: #000000;">Invoice</h2>
              <table>
                <thead>
                <tr>
                  <td >Item:</td><td >Qty:</td><td ></td><td >Price:</td>
                 </tr> 
                </thead>
                <tbody>
                  
                  <tr></tr>
                  <% var totalPrice = 0 %>
                  <% for (i = 0; i < orders.length; i++) { %>
                  <% totalPrice += (Number(orders[i].quantity) * Number(orders[i].price.split("$")[1]))%>
                     
                    <tr>
                     <td ><%=orders[i].name%></td><td ><%=orders[i].quantity%></td><td >$</td><td ><%=(Number(orders[i].quantity) * Number(orders[i].price.split("$")[1]))%></td>
                    </tr> 
                  <% } %>                 
                </tbody>
                <tfoot>
                </table>

                  <fieldset>
                    <form action='/CustomerCheckout' method="POST">
                      <p></p>
                      <p></p>
                    <h3 style="color: #000000;">Apply Discount:<h3>
                    <p></p>
                    <p></p>
                    <div class="form__radios">
                      <div class="form__radio">
                        <p></p>
                        <p for="visa" style="color: #000000;">Enter Discount Code:</p>
                        <input name="ID" type="text" style="color: #000000" required="true">
                      </div>
                      <p></p>
                      <button type="submit" class="btn" >Apply Discount</button>
                      <p></p>
                      <p></p>
                      <p></p>
                    </form>
                  </fieldset>
        <%}%>

        <% if (discount) { %>
          <% var saving = totalPrice * (discount.percent)/100; totalPrice = totalPrice - saving%>
           <tr>
             <td align="left">Discount applied: - $<%=saving%></td>
           </tr>
           <tr>
            <td align ="left">Total</td><td></td>
            <td align ="left">$</td><td align="left"><%=totalPrice%></td>
          </tr>
          </tfoot>
         <% } %> 

        <% if (booking) { %>
            <a  href='/edit-booking'class="btn" style="text-decoration:none">Edit Booking</a>
             <a href='/cancel-booking' class="btn" style="text-decoration:none " >Cancel Booking</a>
        <% } %>   

        <% if (booking && !booking.isConfirmed) { %>

          <form id ="myform" action='/confirm-booking' method="POST">
            <p></p>
            <div btnGroup>
              <a  href="/CustomerHomepage" class="btn" style="text-decoration:none">Return Home</a>
              <button class="btn" style="text-decoration:none" type="submit">Confirm Booking</button>
            </div>
            <input type="hidden" name="totalPrice" value=<%=totalPrice%>>
          </form>

        <% } else if (booking && booking.isConfirmed) {%>
          <button class="btn" style="text-decoration:none">Booking confirmed! Cancel/Edit to make changes</button>
        <% } %>
  </div class = "login box">

</body>
</html>
<style>

/* this is the discount box */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* i kinda hate below because it shows a textbox */
input { 
  border: 0;
  color: inherit;
  font: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  align-content: center;
  padding: 0.125em;
}

tbody {
  color: #fff;

  padding: 0.125em;
}
td {
  padding: 0.125em;
  text-align: center;
  color: #000000;

}
thead {
  font-weight: 600;
  text-align: center;
  align-content: center;
  padding: 0.125em;
}
tfoot {
  border-top: 2px solid #b4b4b4;
  font-weight: 600;
  text-align: center;
  align-content: center;
  padding: 0.125em;
}




/* .form__radios {
  display: grid;
  grid-gap: 1em;
  gap: 1em;
} */

    body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image: url("images/seating-checkout.jpg");
  background-size: cover;
  background-position: absolute;
  background-repeat: no-repeat;
  padding: 30px;
   }


  .login-box {
    position: absolute;
    width: 800px;
    height: 1000px;
    padding: 40px;
    transform: translate(37%, 0%);
    background:rgba(255,255,255, 0.6);
    color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
  }

  .btn {
background-color: #014421; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.btnGroup {
  padding: 10px 24px;
  display: flex;
}
  
</style>
